/**** Start Default Color ****/
.navbar-inverse{border-bottom: 2px solid #7484FF}
.option-box .color-box,
.testemonials .carousel-indicators li.active
{
    border: 3px solid #7484FF
}
.option-box .gear-check,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active
{
    background-color: #7484FF
}

.navbar-inverse .navbar-brand span,
.about-lib h1 span,
.testemonials span,
.footer .wishes p span
{
    color: #7484FF
}
.dropdown-menu{  border-top: 3px solid #7484FF}
#scroll-up{background: #272E54}
.footer {background: #04071D; border-top: 3px solid #000625}
.footer .copyright{ background: #42646F}
#scroll-up:hover{background: #50546D}
.log-in-reg .modal-content{ background: #6D6C9A}
.log-in-reg .modal-content .modal-header{ border-bottom: 1px solid #0B1750}
.log-in-reg .modal-content .modal-footer { border-top: 1px solid #0B1750}
/**** End Default Color ****/