/**** Start Default Color ****/
.navbar-inverse
{
    border-bottom: 2px solid #1D9F75
}
.option-box .color-box,
.testemonials .carousel-indicators li.active
{
    border: 3px solid #1D9F75
}
.dropdown-menu .divider,
.option-box .gear-check,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active
{
    background-color: #1D9F75
}
.navbar-inverse .navbar-brand span,
.about-lib h1 span,
.testemonials span,
.footer .wishes p span
{
    color: #1D9F75
}
.dropdown-menu{ border-top: 3px solid #1D9F75}
.footer .copyright{ background: #426F55}
#scroll-up:hover{background: #75B39C}
/**** End Default Color ****/